.readable-app {
  position: relative;
}

/* categories bar */
.categories-bar {
  background: #f0f0f0;
  padding-left: 15px;
  line-height: 1;
  border-bottom: 1px solid gray;
}
.categories-bar a {
  font-size: 9px;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
}
.categories-bar a.selected{
  color: orangered;
  font-weight:bold;
}
/* page header */
.header-bottom {
  background-color: #cee3f8;
  min-height: 50px;
    border-bottom: 1px solid #369;
}

/* sort tabs */

.sort-tabs span{
  display: inline;
}

.post-sort-tabs-container {
  position: relative;
  height: 50px;
}
.post-sort-tabs-container span{
    display:none;
}

#post-sort-tabs {
  position:absolute;
  bottom: 0;
}

#post-sort-tabs .nav-tabs {
  border-bottom: 0;
}
#post-sort-tabs >ul > li{
  margin-left: 10px;
  border-bottom: 1px solid #369;
}

#post-sort-tabs >ul > li.active{
  border-bottom: 1px solid white;
}

#post-sort-tabs > ul > li > a{
  background-color: #eff7ff;
  padding: 1px 5px 0px 5px;
  margin-left: -1px;
  margin-right: -1px;
  font-weight: bold;
  color: #369;
}

#post-sort-tabs > ul > li > a[aria-selected="true"]{
  color: orangered;
  background-color: white;
  border-bottom: 1px solid white;
}

#comment-sort > ul > li > a {
  border-bottom: 1px solid #ddd;
  padding: 10px;
}
#comment-sort > ul > li > a[aria-selected="true"]{
  border-bottom: 1px solid white;
}

/* content display */

.content-container {
  padding: 15px;
  max-width: 1100px;
}
ul.post-list {
  margin-left: 15px;
}

ul.post-list .post-listing {
  margin-top:15px;
  margin-left: 15px;
}
ul.post-list .comment-count {
  font-weight: bold;
  margin-right: 10px;
  display: inline-block;
}

ul.post-list .listed-post, .comment-list .listed-comment {
  display: inline-block;
  margin-left: 30px;
  vertical-align: top;
  margin-top: 2px;
}

.comment-listing:first-of-type{
  border-top: 0px;
  border-top-left-radius:0;
  border-top-right-radius: 0;
}
.original-post p.post-body {
  vertical-align:top;
  font-size:1.2em;
  margin: 10px 15px 0 15px;
  min-height:80px;
  display: inline-block;
}


/* modal */

.panel-footer .reply {
  margin-top:2px;
  display: block;
  font-weight:bold;
}

.modal-container {
  display:inline;
}


h4.modal-title {
  font-size: 1.4em;
  margin: 0;
}

.modal p.hint {
  color: grey;
  font-size:0.7em;
  margin: 20px 0 0 0;
}

/* user actions */
.comment-actions {
  margin-top: 10px;
}
.post-actions {
  display: inline-block
}

.detailed-actions {
  display: block;
}

.user-actions .modal-container.reply > a{
    font-weight:bold;
    color: seablue;
    margin-right:10px;
    cursor: copy;
}

.user-actions .modal-container.edit > a{
    color: LightSlateGray;
    margin-right:10px;
    cursor: context-menu;
}

.user-actions span.delete{
  color: crimson;
}

/* sidebar */

.root-page #sidebar, .category-page #sidebar {
  margin-bottom: 55px;
}
#sidebar a.btn {
  color: white
}
.user-control {
  z-index: 9999;
  font-weight: bold;
  background: cornsilk;
  border: 1px solid grey;
  padding: 3px;
  position: absolute;
  right: 20px;
  bottom: 20px;
}
.user-control span {
  margin-right: 15px;
}

.formErrors .alert-error {
  margin-bottom: 5px;
  padding:10px;
}

/* submit form */

.form-container {
  border-radius: 10px;
  padding: 15px;
  margin-top: 40px;
  max-width: 400px;
  -moz-box-shadow: 1px 3px 3px 2px rgba(68,68,68,0.6);
  -webkit-box-shadow: 1px 3px 3px 2px rgba(68,68,68,0.6);
  box-shadow: 1px 3px 3px 2px rgba(68,68,68,0.6);
}

/* vote panel */

.vote-panel{
  text-align: center;
  max-width: 50px;
  min-width: 25px;
  margin-left: -30px;
  margin-bottom: 0px;
  box-sizing: content-box;
  display: inline-block;
}
.vote-panel > .panel-heading, .vote-panel > .panel-footer{
  padding: 0;
}
.vote-panel > .panel-body {
  padding: 5px;
}
.vote-icon {
  pointer-events: none;
}
.upvote-icon, .downvote-icon {
  color: #C6C6C6;
}
.upVote .upvote-icon, .upVote .vote-score{
  color: #FF8b60;
  font-weight: bold;
}
.downVote .downvote-icon, .downVote .vote-score {
  color: #9494FF;
  font-weight: bold;
}

/* misc */

span.author {
  font-weight: bold;
  color: orangered;
}

.remove-col-padding {
  padding-left: 0;
  padding-right: 0;
}

.full-width {
  width: 100%
}

.pad-top {
  margin-top: 25px;
}

html, body, #root{
  height: 100%
}

.readable-app {
  min-height: 100%;
}
